#menu {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#game {
    width: 100px;
    height: 50px;
    position: relative;
    text-align: center;
    background-color: gray;
    border-color: gray;
    font-weight: bold;
    color: white;
}

#author {
    width: 100px;
    height: 50px;
    position: relative;
    text-align: center;
    background-color: gray;
    border-color: gray;
    font-weight: bold;
    color: white;
}

body {
    background-image: url('img.jpg');
    background-size: cover;
}

body h1 {
    position: relative;
    text-align: center;
    color: gray;
    font-weight: bold;
}

.about {
    width: 60%;
    position: fixed;
    height: 60%;
    background-color: gray;
}